@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

/*  font-family: "Caveat", cursive; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,600&display=swap");

/* РћР±РЅСѓР»РµРЅРёРµ */

@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: 'Montserrat';
    background-color: #fff0f3;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
}

.header__div {
    width: 100%;
    color: #fff0f3;
    background-color: black;
    height: 70px;
}

.header__content {
    height: 100%;
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__content a {
    font-family: 'Montserrat';
    color: #fff0f3;
}

.header__content a:nth-child(2) {}

.header__content a {
    display: block;
}

.content__page__wrapper {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 70px);
    width: 100%;
}

.left_navigation {
    flex: 0 0 20%;
    height: 100%;
    background-color: rgb(32, 32, 32);
}

.page__wrapper_element {
    display: flex;
    flex-direction: column;
    padding: 15px 10px 10px 10px;
}

.page__wrapper_element a {
    display: block;
    color: #fff0f3;
    width: 100%;
    padding: 15px 0px 15px 10px;
    border-bottom: 1px solid rgba(255, 240, 243, 0.1);
}

.page__wrapper_element a:hover {
    background-color: rgb(58, 57, 57);
}

.conetnt__wrapper {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.element__wrapper {
    font-family: 'Montserrat';
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
}

.element__name {
    margin: 10px 0px 10px 0px;
    font-size: 28px;
    font-weight: 600;
}

.element__content_wrapper {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid rgb(32, 32, 32);
    padding: 10px;
}

.catalog__info {}

.catalog__element_desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px 15px 0px;
}

.catalog__element_desc:nth-child(2n-1) {
    background-color: rgb(241, 241, 241);
}

.catalog__element_desc-p {
    flex: 0 0 20%;
}

.catalog__element_desc-p2 {
    flex: 0 0 20%;
}

.catalog__element_desc-a {
    flex: 0 0 20%;
}