.wrapper {
    max-width: 1400px;
    background-color: #fff;
    height: 100%;
    font-family: 'Montserrat';
}

.element__plate__wrapper {
    padding-top: 75px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.element__plate_flex_wrapper {
    display: flex;
    padding: 35px 20px 10px 20px;
    justify-content: space-between;
}

.element__plate__description2 {}

.element__plate_gallery {
    width: 490px;
    height: 490px;
}

.element__plate__image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/001.jpg');
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.element__plate__image {}

.element__plate__description {
    flex: 0 0 28%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.element__plate__name {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
}

.element__plate__number {
    margin-top: 45px;
}

.element__plate__price {
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.plate__price-span {
    font-size: 25px;
    font-weight: 500;
}

.element__characters_wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}

.element__type__fromDB {}

.element__typeof-span {}

.element__plate__size {}

.element__used_colors {}

.element__used_colors-span {}

.element__used__material {}

.element__used__material-span {}

.element__small__desc {}

.element__small__desc-p {}

.element__plate__buying-option {
    background-color: #fff;
    flex: 0 0 27%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


/*-------------------*/


/*-------------------*/


/*-------------------*/

.element__plate__buying-option {
    padding: 10px 0px 10px 20px;
}

.element__plate__buying-option form {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.element__buying-option_price {
    font-size: 35px;
    font-weight: 500;
    padding: 20px;
}

.element__buying-option_number {
    display: flex;
    align-items: center;
}

.element__buying_number-flex {}

.custom-select {}

.element__buying-option_info {
    margin-top: 25px;
    line-height: 28px;
}

.button__flex {
    background-color: aquamarines;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 15px;
}

.element__buying-option_button input {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #fff;
    border: 1px solid #3E0917;
    color: #3E0917;
    font-family: 'Montserrat';
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 5px 45px;
    border-radius: 2px;
}

.element__buying-option_button input:hover {
    color: #fff;
    background-color: #3E0917;
    cursor: pointer;
}

.element__plate__description2 {
    width: 95%;
    margin: 0 auto;
    margin-top: 35px;
}

.element__plate__description2 p {
    line-height: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 35px;
}

.additional_info_wrapper {
    display: flex;
    max-width: 95%;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 150px;
    margin-top: 150px;
}

.additional_info_wrapper-image {
    height: 400px;
    flex: 0 0 45%;
    background-image: url('../images_page/112.jpg');
    background-position: 50% 10%;
    background-size: cover;
    background-repeat: no-repeat;
}

.additional__desc_of__order {
    padding: 15px;
    height: 300px;
    flex: 0 0 45%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    color: #3E0917;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.additional__desc_of__order-name {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    font-size: 24px;
    font-weight: 500;
}

.additional__desc_of__order-span {
    font-weight: 500;
}

.additional__desc_of__order-p {}

.additional__desc_of__order-a {
    color: #3E0917;
    font-weight: 500;
}

.additionl_contact_with_us {
    width: 100%;
    text-align: center;
}

.additional_info_connect_with {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #fff;
    border: 1px solid #3E0917;
    color: #3E0917;
    font-family: 'Montserrat';
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 5px 45px;
    border-radius: 2px;
}

.additional_info_connect_with:hover {
    color: #fff;
    background-color: #3E0917;
}