@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,600&display=swap");

/* РћР±РЅСѓР»РµРЅРёРµ */

.catalog__description {}

.catalog__search__wrapper {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    height: 100%;
}

.searc__block__wrapper {
    width: 25%;
    background-color: #fff;
}

.main__catalog__wrapper {
    height: 100%;
    width: 75%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.catalog__wrapper__element {
    width: 280px;
    height: 320px;
    background-color: antiquewhite;
    margin-top: 25px;
}

.catalog__wrapper__image-div {
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.c__table__wrapper {}

.c__table__title {}

.c_table__price_link_wrapper {}

.c__table__price {}

.table_span {}

.c__table__link {}

.c__table__link-a {}